- content_for :head do
  = javascript_include_tag "jquery/jquery-ui-1.8.4.custom.min.js", "pw/pw.pets.js", "pw/pw.pets.devise.js", "pw/pw.address.autocompleter.js", "pw/pw.pets.form.js"
  %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=true"}

%h2= I18n.t('devise.edit', :resource => resource.class.model_name.human)
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = error_messages(resource)
  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :password, :hint => I18n.t('devise.edit_password_hint')
    = f.input :password_confirmation
    = f.input :current_password, :hint => I18n.t('devise.edit_current_password_hint')
    = f.semantic_fields_for :address do |address|
      = address.input :address
      = address.input :street, :as => :hidden
      = address.input :postal_code, :as => :hidden
      = address.input :lat, :as => :hidden
      = address.input :lon, :as => :hidden
      = address.input :country, :as => :hidden
      = address.input :country_code, :as => :hidden
      = address.input :state, :as => :hidden
      = address.input :substate, :as => :hidden
      = address.input :city, :as => :hidden
    = f.input :phone_number
    = f.input :web
    = f.input :association_name
  = f.buttons do
    = f.commit_button I18n.t('devise.edit', :resource => resource.class.model_name.human)
%br
%h2= I18n.t('devise.cancel_account')
%p
  = I18n.t('devise.unhappy')
  = link_to I18n.t('devise.cancel_account'), registration_path(resource_name), :confirm => I18n.t('devise.cancel_account_confirm'), :method => :delete, :id => :cancel_account, :class => :button