%h2= I18n.t('devise.sign_up')
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = error_messages(resource)
  = f.inputs :name, :email, :password, :password_confirmation, :phone_number, :web, :association_name
  = f.buttons do
    = f.commit_button I18n.t('devise.sign_up')