- content_for :head do
  = javascript_include_tag "jquery/jquery-ui-1.8.4.custom.min.js", "pw/pw.pets.js", "pw/pw.pets.form.js"
  %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=true"}


= semantic_form_for @pet do |form|
  = error_messages(@pet)
  = form.inputs do
    = form.input :name
    = form.input :animal
    = form.input :breed, :collection => breed_for_animal(@pet)
    = form.input :sex
    = form.semantic_fields_for :address do |address|
      = address.input :address
      = address.input :street, :as => :hidden
      = address.input :postal_code, :as => :hidden
      = address.input :lat, :as => :hidden
      = address.input :lon, :as => :hidden
      = address.input :country, :as => :hidden
      = address.input :country_code, :as => :hidden
      = address.input :state, :as => :hidden
      = address.input :substate, :as => :hidden
      = address.input :city, :as => :hidden
    = form.input :birthday
    = form.input :size
    = form.input :urgent
  %h2= I18n.t('pets._form.its_character')  
  = form.inputs :class => 'character' do
    = form.input :docile
    = form.input :calm
    = form.input :agressive_people
    = form.input :agressive_animals
    = form.input :dominant
    = form.input :affectionate
  = form.inputs :class => 'character' do
    = form.input :independent
    = form.input :dependent
    = form.input :possessive
    = form.input :playful
    = form.input :tireless
    = form.input :obedient
  = form.inputs :class => 'character' do
    = form.input :disobedient
    = form.input :trained
    = form.input :sleepyhead
    = form.input :friendly_people
    = form.input :friendly_animals

  = form.inputs do
    = form.input :description, :input_html => {:cols => 70, :rows => 15}

  = form.buttons
