= semantic_form_for @pet do |form|
  = form.input :name
  = form.input :animal
  = form.input :breed, :collection => I18n.t('pets._form.select_animal_first')
  = form.input :birthday
  = form.input :limit_date
  / = form.input :size
  = form.input :urgent

  = form.input :docile
  = form.input :docile
  = form.input :calm
  = form.input :agressive_people
  = form.input :agressive_animals
  = form.input :dominant
  = form.input :affectionate
  = form.input :independent
  = form.input :dependent
  = form.input :possessive
  = form.input :playful
  = form.input :tireless
  = form.input :obedient
  = form.input :disobedient
  = form.input :trained
  = form.input :sleepyhead
  = form.input :friendly_people
  = form.input :friendly_animals

  = form.input :description

  = form.buttons
