- content_for :head do
  = stylesheet_link_tag "pw.pets.index", :cache => true

.pets.add_pet
  %h1
    = I18n.t('pets.index.give_adoption')
  %a.button.add_pet{:href => new_pet_url}
    %span.plus +
    = I18n.t('pets.index.add_pet')
.pets.filters
  %h1= I18n.t('pets.index.show')
  %ul
    %li
      %a.button{:href => '#'} Urgent
    %li        
      %a.button{:href => '#'} Dogs
    %li        
      %a.button{:href => '#'} Cats
    %li        
      %a.button{:href => '#'} Birds
    %li        
      %a.button{:href => '#'} Rodents
    %li        
      %a.button{:href => '#'} Reptiles
    %li        
      %a.button{:href => '#'} Other species
    %li        
      %a.button{:href => '#'} Males
    %li        
      %a.button{:href => '#'} Females
.pets.place
  %h1= I18n.t('pets.index.looking_place')
  %input.where{:type => "text", :placeholder => "Country, state, province, city..."}
.pets.results
  %ul
    - @pets.each do |pet|
      %li.pet
        %a{:href => url_for(pet)}
          = image_tag('dog1.jpg')
          %span.name= pet.name.capitalize
          - if pet.animal
            %span.animal
              %span.label="#{Pet.human_attribute_name(:animal)}:"
              = pet.animal.name
          - if pet.birthday
            %span.age
              %span.label="#{Pet.human_attribute_name(:age)}:"                
              = time_ago_in_words(pet.birthday)
          - if pet.place
            %span.place
              %span.label="#{Pet.human_attribute_name(:place)}:"
              = pet.place
          - if pet.urgent
            %span.urgent= Pet.human_attribute_name(:urgent)
    %li.spinner
      %span.spinner
