%li.pet
  %a{:href => edit_pet_adoption_path(adoption.pet, adoption)}
    .photos
      = raw photos(adoption.pet)
      - if adoption.pet.photos.length > 1
        %a.view_next{:href => '#'}
          = I18n.t('pets.index.pet.view_next')
          .arrow
    .photo_arrow
    %span.name= adoption.pet.name.capitalize
    - if adoption.adoptant.nil?
      %span.external_adoption= adoption.reasons
    - else
      %span.user_name
        = adoption.adoptant.name.capitalize
      %span.email
        = adoption.adoptant.email
      %span.address
        = adoption.adoptant.address.address
      %span.phone
        = adoption.adoptant.phone_number
    - if adoption.adopted
      %span.adopted
        = CGI.unescapeHTML(I18n.t('pets.adoptions.adoption.adopted'))
    - else
      %span.not_adopted
        = CGI.unescapeHTML(I18n.t('pets.adoptions.adoption.not_adopted'))