%h2= I18n.t('devise.sign_in')
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.inputs do
    = f.input :email
    = f.input :password
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean
    = f.buttons do
      = f.commit_button :label => I18n.t('devise.sign_in')
      %li.forgot
        = link_to I18n.t('devise.forgot_password'), new_password_path(resource_name), :id => :forgot, :class => :button
