- content_for :head do
  = stylesheet_link_tag "pw.pets.photos.nav"

%ul.nav
  - case request[:action]
  - when "index"
    %li
      =link_to I18n.t('pets.photos.nav.new'), new_pet_photo_path, :class => 'button'
  - when "show"
    %li
      = link_to I18n.t('pets.photos.nav.edit'), edit_pet_photo_path(@pet, @photo), :class => :button
  - when "new"
  - when "edit"
    %li
      = link_to I18n.t('pets.photos.nav.show'), [@pet, @photo], :class => :button
  - unless request[:action] == 'index'
    %li
      = link_to I18n.t('pets.photos.nav.photos_list'), pet_photos_path, :class => :button
  %li.back
    = link_to I18n.t('pets.photos.nav.home'), root_url, :class => :button