- content_for :head do
  = stylesheet_link_tag "pw.pets.photos.index"
= render 'nav'

%h1= I18n.t('pets.photos.index.title', :pet => @pet.name)

%ul.photos
  - @photos.each do |photo|
    %li
      - if photo.has_thumbnail?
        = link_to image_tag(photo.image.thumb.url, :size => '200x200'), edit_pet_photo_path(@pet, photo)
        - unless photo.cropped
          = link_to I18n.t('pets.photos.index.without_thumbnail'), edit_pet_photo_path(@pet, photo), :class => ['button', 'generate_thumbnail']
      = link_to I18n.t('pets.photos.index.delete'), pet_photo_path(@pet, photo), :confirm => I18n.t('pets.photos.index.delete_confirm'), :method => :delete, :class => 'button delete'
