- content_for :head do
  = stylesheet_link_tag "pw.footer"
%h2 Sobre nosotros.
%p
  PetsWaiting es una página web sin ánimo de lucro, cuya principal motivación es promover la adopción de animales de compañía, en detrimento de la venta de los mismos. Nuestra intención es servir como tablón de anuncios para todo particular, o sociedad protectora de animales que quiera dar en adopción cualquier tipo de animal de compañía.
%p
  Miles de animales son abandonados diariamente en todo el mundo, que terminan en perreras. Estas no pueden mantener a tantos animales como les llegan cada día, por lo que son sacrificados al poco tiempo de entrar si no encuentran rápidamente un dueño. Solo gracias a la labor de las protectoras de animales, algunos de estos animales vuelven a tener un hogar, y desde PetsWaiting queremos facilitar esta labor a todas ellas.
%p
  Pero no solo eso. Si eres un particular y te has encontrado un animal que necesita de un hogar, ponemos a tu disposición este sitio para que le ayudes a encontrar uno.
%p
  PetsWaiting ha sido creada y es mantenida actualmente por #{link_to 'Fernando Espinosa', 'http://ferdev.com'}, programador web freelance.
%br  
%h3 Agradecimientos.
%p
  Gracias a todos los que han colaborado con PetsWaiting (incluso los que lo han hecho sin saberlo! :-D). Entre ellos:
%ul
  %li A #{link_to 'Ale Muñoz', 'http://dribbble.com/players/bomberstudios'} por sus #{link_to 'increíbles \'CSS3 Buttons\'', 'http://dribbble.com/shots/39551'}.
  %li A #{link_to 'Elio Rivero', 'http://www.ilovecolors.com.ar/'} por sus iconos #{link_to '\'Cute Critters\'', 'http://www.ilovecolors.com.ar/tutorial9-cute-icons/'}.
  %li A #{link_to 'Marina Fornes', 'http://twitter.com/iphornera'} por darnos nuestro nombre.