- content_for :head do
  = stylesheet_link_tag "pw.footer"
%h2 Sobre nosotros.
%p
  PetsWaiting es una página web sin ánimo de lucro, creada y mantenida actualmente por #{link_to 'Fernando Espinosa', 'http://ferdev.com'}.
%h3 Agradecimientos.
%p
  Gracias a todos los que han colaborado con PetsWaiting (incluso los que lo han hecho sin saberlo! :-D). Entre ellos:
%ul
  %li A #{link_to 'Ale Muñoz', 'http://dribbble.com/players/bomberstudios'} por sus #{link_to 'increíbles \'CSS3 Buttons\'', 'http://dribbble.com/shots/39551'}.
  %li A #{link_to 'Elio Rivero', 'http://www.ilovecolors.com.ar/'} por sus iconos #{link_to '\'Cute Critters\'', 'http://www.ilovecolors.com.ar/tutorial9-cute-icons/'}.
  %li A #{link_to 'Marina Fornes', 'http://twitter.com/iphornera'} por darnos nuestro nombre.