- content_for :head do
  = stylesheet_link_tag "pw.footer"
%h2 About us.
%p
  PetsWaiting is a web page with no profit motive in mind, whose main motivation is to promote pets adoption, instead of pets sale. Our purpose is to serve as a notice board for any particular or animal protection society who wants to give up in adoption any kind of pet.
%p
  Thousands of animals are abandoned every day in the whole world, which ends their days at dog pounds. These can't maintain so many animals as they arrive, so they are sacrified shortly after they enter if an owner isn't found soon. Thanks to the animal protection societies work, some of these animals find a home again, and from PetsWaiting we want to make easier their work.
%p
  But not only that. If you're a private individual and have found an animal which needs a home, we offer you this site to help it to find one.
%p
  PetsWaiting.com has been created and is currently maintained by #{link_to 'Fernando Espinosa', 'http://ferdev.com'}, a freelance web developer.
%h3 Acknowledgements
%p
  Thanks to anyone who have colaborated with PetsWaiting (even those who have done it without knowing it!). Amongst them:
%ul
  %li To #{link_to 'Ale Muñoz', 'http://dribbble.com/players/bomberstudios'} for his #{link_to 'awesome \'CSS3 Buttons\'', 'http://dribbble.com/shots/39551'}.
  %li To #{link_to 'Elio Rivero', 'http://www.ilovecolors.com.ar/'} for his icons #{link_to '\'Cute Critters\'', 'http://www.ilovecolors.com.ar/tutorial9-cute-icons/'}.
  %li To #{link_to 'Marina Fornes', 'http://twitter.com/iphornera'} for giving us our name.