!!! 5
%html

  %head
    %title
      = "#{t('title')} - #{t('subtitle')}"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:name => "description", :content => I18n.t('description')}
    %meta{:name => "keywords", :content => I18n.t('keywords')}
    %link{:rel => "canonical", :href => "http://petswaiting.com"}
    = stylesheet_link_tag "reset", "application", "pw.devise", "pw.forms", "jquery/jquery-ui-1.8.4.custom.css"
    :javascript
      var RAILS_ENV = "#{Rails.env}";
    = javascript_include_tag "jquery/jquery-1.4.4.js", "rails", "application", "pw/pw.init.js", "utils.js"
    = yield(:head)
    %script{:type => "text/javascript", :src => "http://use.typekit.com/znw1ljt.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    - if Rails.env == 'production'
      :javascript

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6392398-4']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      :javascript
        var uservoiceOptions = {
          /* required */
          key: 'petswaiting',
          host: 'petswaiting.uservoice.com',
          forum: '77461',
          showTab: true,
          /* optional */
          alignment: 'left',
          background_color:'#f00',
          text_color: 'white',
          hover_color: '#06C',
          lang: '#{I18n.locale}'
        };

        function _loadUserVoice() {
          var s = document.createElement('script');
          s.setAttribute('type', 'text/javascript');
          s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
          document.getElementsByTagName('head')[0].appendChild(s);
        }
        _loadSuper = window.onload;
        window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };

    = csrf_meta_tag

  %body
    %header
      %ul.language
        %li.change_language
          %span.label= I18n.t("meta.language_name", :locale => I18n.locale.to_sym)
          %span.arrow &#x25be;
        - I18n.available_locales.each do |locale|
          - unless locale == I18n.locale
            %li.locale
              %span.label= link_to I18n.t("meta.language_name", :locale => locale.to_sym), change_language_path(:new_locale => locale)
      .logo
      - if false
        .auth
          %ul
            - unless user_signed_in?
              %li= link_to t('layouts.application.authentication.signin'), new_user_session_path
              %li= t('layouts.application.authentication.or')
              %li= link_to t('layouts.application.authentication.signup'), new_user_registration_path
            - else
              %li.admin
                %ul
                  %li{:class => select_my_profile}
                    = link_to t('layouts.application.admin.my_profile'), edit_user_registration_path
                  %li{:class => select_my_pets}
                    = link_to t('layouts.application.admin.my_pets'), user_pets_path(current_user)
                  %li{:class => select_adoption_requests}
                    = link_to t('layouts.application.admin.adoption_requests'), user_adoptions_path(current_user)

              %li= link_to t('layouts.application.authentication.logout'), destroy_user_session_path
      %p.pet_count= I18n.t('layouts.application.counter.pets', :count => @count )

    #content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}", :class => %W{ flash #{name} }
      = yield

    %footer
      .content
        .pets_left
          %span= @waiting
          = I18n.t('layouts.application.footer.waiting')
        .adoptions_done
          %span= @adopted
          = I18n.t('layouts.application.footer.adopted')
        .logo.small
        %p.disclaimer= I18n.t('layouts.application.footer.disclaimer')
        %p.links
          = footer_links
